::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
::-webkit-scrollbar-track-piece  {
  background-color: #373737;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  background: #878787;
}

body {
  color: #ffffff;
  background-color: #373737;
  text-align: center;
  font-family: "Palatino Linotype", "Palatino", "serif";
}

module {
  background: #585858;
}
module div {
  text-align: left;
}
module button {
  background: #585858;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}
module button:hover {
  background: #ff5800;
}
module button:active {
  background: #ff5800;
}
module button:focus {
  outline-color: #ff5800;
}

.spaced {
  letter-spacing: 4px;
  color: #ffffff;
  background-color: #373737;
}
.spacedColor {
  letter-spacing: 4px;
  color: #ff5800;
  background-color: #373737;  
}
.template {
  display: none;
}


















nav {
  background-color: #373737;
  width: 100%;
  text-align: center;
}
nav button {
  background: #585858;
  padding: 5px 20px;
  border: 0;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
}
nav button:hover {
  background: #ff5800;
}
nav button:active {
  background: #ff5800;
}

main {
  border-radius: 15px;
  background-color: #585858;
  color: #ffffff;
  margin: 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
main h1, main h2 {
  color: #ff5800;
  margin: 3px 4px;
}
main h3, main h4 {
  color: #ffffff;
  margin: 1px 5px;
}

item div {
  width: 90%;
  background-color: #373737;
  margin: 10px auto;
  padding: 5px 5px;
  text-align: left;
  border-radius: 5px;
}
item ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}
item li {
  background-color: #373737;
  width: 100%;
  margin: 10px auto;
  padding: 0 0;
  text-align: left;
  list-style: none;
  border-radius: 5px;
}
item h1, item h2 {
  color: #ff5800;
  margin: 1px 5px;
}
item h3, item h4 {
  color: #ffffff;
  margin: 1px 5px;
}
item button {
  background: #585858;
  padding: 5px 10px;
  margin: 0 1px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}
item button:hover {
  background: #ff5800;
}
item button:active {
  background: #ff5800;
}


dialog {
  background-color: rgba(0,0,0,0);
  border: 0;
  min-width: 50%;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}
dialog div {
  border-radius: 15px;
  background-color: #585858;
  padding: 10px 10px;
  max-width: 80%;
}
dialog button {
  background: #585858;
  padding: 5px 10px;
  margin: 0 1px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}
dialog button:hover {
  background: #ff5800;
}
dialog button:active {
  background: #ff5800;
}
dialog h1, dialog h2 {
  color: #ff5800;
  margin: 3px 4px;
  background-color: #373737;
  border-radius: 10px;
  border: none;
}
dialog h3, dialog h4 {
  color: #ffffff;
  margin: 1px 5px;
}


log textarea {
  color: #ff5800;
  background-color: #000000;
  border-radius: 10px;
  width: 100%;
  height: 15em;
  outline: none;
  border: none;
  overflow-x: auto;
  overflow-y: auto;
}


.inline {
  display: inline;
}
.selected {
  background: #FF5800;
}
.wide {
  width: 100%;
}