body {
  color: #ffffff;
  background-color: #373737;
  text-align: center;
  font-family: "Palatino Linotype", "Palatino", "serif";
}

dialog {
  background-color: rgba(0,0,0,0);
  border: 0;
  min-width: 50%;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

nav {
  background-color: #373737;
  width: 100%;
  text-align: center;
}
nav button {
  background: #585858;
  padding: 5px 20px;
  border: 0;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
}
nav button:hover {
  background: #ff5800;
}
nav button:active {
  background: #ff5800;
}

main {
  border-radius: 15px;
  background-color: #585858;
  color: #ffffff;
  margin: 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
main h1, main h2 {
  color: #ff5800;
  margin: 3px 4px;
}
main h3, main h4 {
  color: #ffffff;
  margin: 1px 5px;
}

item {
  
}
item ul {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}
item li {
  background-color: #373737;
  width: 100%;
  margin: 10px auto;
  padding: 0 0;
  text-align: left;
  list-style: none;
  border-radius: 5px;
}
item h1, item h2 {
  color: #ff5800;
  margin: 0 5px;
}
item h3, item h4 {
  color: #ffffff;
  margin: 1px 5px;
}
item button {
  background: #585858;
  padding: 1px 5px;
  margin: 0 1px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}
item button:hover {
  background: #ff5800;
}
item button:active {
  background: #ff5800;
}

popup div {
  border-radius: 15px;
  background-color: #585858;
  color: #ffffff;
  padding: 10px 10px;
}
popup button {
  background: #585858;
  padding: 5px 20px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
}
popup button:hover {
  background: #ff5800;
}
popup button:active {
  background: #ff5800;
}
popup h1, popup h2 {
  color: #ffffff;
  margin: 3px 3px;
}
popup h3, popup h4 {
  color: #ffffff;
  margin: 3px 3px;
}
popup input {
  color: #ffffff;
  background: #373737;
  border-radius: 5px;
  border: none;
  width: 75%;
  text-align: center;
}

log textarea {
  color: #ff5800;
  background-color: #000000;
  border-radius: 10px;
  width: 80%;
  height: 15em;
  outline: none;
  border: none;
  overflow-x: auto;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
::-webkit-scrollbar-track-piece  {
  background-color: #373737;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  background: #878787;
}

.contentParent {
  width: 100%;
  padding: 5px 5px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 auto;
}
.contentLeft {
  float: left;
  text-align: left;
  padding: 2px 10px;
}
.contentRight {
  float: left;
  text-align: left;
  padding: 2px 10px;
}
.spaced {
  letter-spacing: 4px;
  color: #ffffff;
  background-color: #373737;
}
.spacedColor {
  letter-spacing: 4px;
  color: #ff5800;
  background-color: #373737;  
}
.orangeContainer {
  background-color: #ff5800;
  border-radius: 10px;
  border: none;
}